<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JustAsk!!!</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/common.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/img/icon.png"/>
</head>
<body class="bg-color">
<nav class="navbar navbar-expand-md navbar-dark navbar-color fixed-top">
    <a class="navbar-brand" href="index.html"><img class="logo" src="../static/img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control form-search mr-sm-2" type="text" size="58" placeholder="Search"
                   aria-label="Search">
            <input type="button" value="Ask" class="btn btn-outline-success search-btn-color my-2 my-sm-0"
                   onclick='location.href="ask.html"'>
        </form>
    </div>

    <a href="settings.html"><img class="avatar" src="../static/img/avatar0.jpg"></a>
    <div class="usr">Vitalya<br><a class="user-act" href="settings.html">settings</a><a class="user-act"
                                                                                        href="logged_out.html">logout</a>
    </div>

</nav>
<div class="container">

    <div class="row">

        <div class="col-md-9 col-sm-6 ">


            <div class="big-question row">

                <div class="col-md-2">

                    <img class="q-big-avatar" src="../static/img/avatar1.png">
                    <a href="#" class="q-big-nick">R.Darbyshire</a>
                    <a href="#" class="like">Like!</a><a href="#" class="likes">5</a>

                </div>

                <div class="col-md-10 q-big-text">

                    <div class="q-title">How to build a house?</div>
                    <div class="q-text">I'm sick of living in a box. How to build a house? Well, where do I start?

                        <br>
                        <div class="tags">
                            Tags: <a href="#">house</a> <a href="#">livinginabox</a>
                        </div>
                        <div class="rating">
                            <a href="#" class="plus"></a><a href="#" class="minus"></a><a href="likes">8</a>
                        </div>

                    </div>


                </div>

            </div>
            <div class="question row">

                <div class="col-md-2">

                    <img class="q-avatar" src="../static/img/avatar2.jpg">
                    <div class="q-nick"><a href="#">S.LaBeouf</a><br></div>
                    <a href="#" class="like">Like!</a><a href="#" class="likes">4</a>

                </div>

                <div class="col-md-10">
                    <br class="q-title">
                    <div class="q-text">JUST DO IT!!!
                        <br>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Correct answer!
                        </label>
                    </div>
                    <div class="rating">
                        <a href="#" class="plus"></a><a href="#" class="minus"></a><a href="likes">7</a>
                    </div>
                </div>

            </div>

            <div class="question row">

                <div class="col-md-2">

                    <img class="q-avatar" src="../static/img/avatar2.jpg">
                    <div class="q-nick"><a href="#">S.LaBeouf</a><br></div>
                    <a href="#" class="like">Like!</a><a href="#" class="likes">4</a>

                </div>

                <div class="col-md-10">
                    <br class="q-title">
                    <div class="q-text">JUST DO IT!!!
                        <br>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Correct answer!
                        </label>
                    </div>
                    <div class="rating">
                        <a href="#" class="plus"></a><a href="#" class="minus"></a><a href="likes">7</a>
                    </div>
                </div>

            </div>

            <div class="question row">

                <div class="col-md-2">

                    <img class="q-avatar" src="../static/img/avatar2.jpg">
                    <div class="q-nick"><a href="#">S.LaBeouf</a><br></div>
                    <a href="#" class="like">Like!</a><a href="#" class="likes">4</a>

                </div>

                <div class="col-md-10">
                    <br class="q-title">
                    <div class="q-text">JUST DO IT!!!
                        <br>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Correct answer!
                        </label>
                    </div>
                    <div class="rating">
                        <a href="#" class="plus"></a><a href="#" class="minus"></a><a href="likes">7</a>
                    </div>
                </div>

            </div>

            <div class="question row">

                <div class="col-md-2">

                    <img class="q-avatar" src="../static/img/avatar2.jpg">
                    <div class="q-nick"><a href="#">S.LaBeouf</a><br></div>
                    <a href="#" class="like">Like!</a><a href="#" class="likes">4</a>

                </div>

                <div class="col-md-10">
                    <br class="q-title">
                    <div class="q-text">JUST DO IT!!!
                        <br>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Correct answer!
                        </label>
                    </div>
                    <div class="rating">
                        <a href="#" class="plus"></a><a href="#" class="minus"></a><a href="likes">7</a>
                    </div>
                </div>

            </div>

            <hr>
            <form class="new-question">
                <div class="form-group row">
                    <textarea class="form-control your-answ" rows="10" placeholder="Enter your answer here"></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-answ">Answer</button>
            </form>
        </div>

        <div class="col-md-3 col-sm-6 right-col">
            <div class="headers">
                <h4 class="trow">Popular Tags</h4>
                <b class="red-label header">perl</b><b class="black-label header">python</b><b
                    class="pink-label header">TechnoPark</b>
                <b class="pink-label header">refal.net</b><b class="red-label header"><b id="r">r</b><b id="e">E</b><b id="f">F</b><b id="a">a</b><b id="l">L</b><b id="qq">!</b></b>
                <b class="green-label header">Mail.ru</b><b class="black-label header">Skorb</b><b
                    class="orange-label header">Firefox</b>
                <b class="red-label header">&nbsp;Git</b><b class="green-label header">Refal</b><b
                    class="blue-label header">BMSTU</b>
                <b class="blue-label header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ubuntu</b><b
                    class="red-label header">REFAL</b>
            </div>
            <div class="members">
                <h4 class="mrow">Best Members</h4>
                <a href="#">Vitalya</a>
                <br>
                <a href="#">Dr.House</a>
                <br>
                <a href="#">Bender</a>
                <br>
                <a href="#">S.Y.Skorobogatov</a>
                <br>
                <a href="#">R.Darbyshire</a>
                <br>
                <a href="#">Queen Victoria</a>
                <br>
                <a href="#">S.LaBeouf</a>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="col-md">
        &copy; Melnikov Vladislav
    </div>
</footer>
<script type="text/javascript" src="../static/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="../static/js/popper.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
</body>
</html>
