<div class="question row">
    <div class="col-md-2">
        <img class="q-avatar" src="{{ answer.avatar }}">
        <div class="q-nick"><a href="#">{{ answer.nickname }}</a><br></div>
        <a href="#" class="like">Like!</a><a href="#" class="likes">{{ answer.likes }}</a>
    </div>
    <div class="col-md-10">
        <br class="q-title">
        <div class="q-text">{{ answer.text }}{{ answer.id }}
            <br>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Correct answer!
            </label>
        </div>
        <div class="rating">
            <a href="#" class="plus"></a><a href="#" class="minus"></a><a href="#">{{ answer.rating }}</a>
        </div>
    </div>
</div>