<div class="question row">
    <div class="col-md-2">
        <img class="q-avatar" src="static/img/avatar1.png">
        <div class="q-nick"><a href="#" class="q-nick">R.Darbyshire</a></div>
        <a href="#" class="like">Like!</a><a href="#" class="likes">5</a>
    </div>

    <div class="col-md-10">
        <div class="q-title"><a href="question">{{ quest.title }}</a></div>
        <div class="q-text">{{ quest.text }}
            <br>
            <div class="tags">
                Views: <a href="question">23</a>, Answers: <a href="question">4</a>, Tags: <a href="#">house</a> <a
                    href="#">livinginabox</a>
            </div>
        </div>
    </div>
</div>